#SignUpCard {
    width: 600px;
    height: 100%;
    margin-top: 0px;
    text-align: center;
}

#appName {
    margin-top: 10px;
    margin-bottom: 1rem;
}

#InstructionLabel {
    padding: 10px;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    font-family: inherit;
    font-weight: bold;
}

h4 {
    font-family: inherit;
    font-weight: lighter;
    margin-bottom: 30px;
}

#previewPic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit:cover;
    object-position: 50% 5%;
}
