#SignUpCard {
    width: 600px;
    height: 100%;
    margin-top: 0px;
    text-align: center;
}

#appName {
    margin-top: 10px;
    margin-bottom: 1rem;
}

#InstructionLabel {
    padding: 10px;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    font-family: inherit;
    font-weight: bold;
}

h4 {
    font-family: inherit;
    font-weight: lighter;
    margin-bottom: 30px;
}

#RegPreviewPic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit:cover;
    object-position: 50% 5%;
}
#successDialoge{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: blue;
}
#transitionBtn{
    height: 30% !important;
    width: 15%;
    align-self: center;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:x-large;
}