button {
    margin: 5px;
}

img {
    width: 80px;
    padding: 10px;
    border-radius: 50%;
    object-fit: cover;
    padding-bottom: 15px;
    padding-top: 5px;
}

#searchBox {
    width: 30%;
    border-color: black;
    border-width: 100px;
}

p {
    font-size: 25px;
    padding: 10px;
}

.icon-button {
    border: none;
    align-items: center;
    background-color: #f8f9fa;
}

input {
    background: url('../../public/search.svg') no-repeat 0.5rem center;
    padding-left: 3rem !important;
}

.dropdown-toggle::after {
    display: none !important;
    content: none !important;
}

.col {
    align-self: baseline;
}

#LeftCol {
    align-self: flex-start;
    overflow-y: scroll
}

#RightCol {
    overflow-y: scroll
}

#navbarContainer {
    padding-top: 0px;
    margin-bottom: 0px;
}

#UnderNavContainer {
    position: relative;
    margin-top: 4%;
}

h6 {
    padding: 0px;
    margin: 0px;
}

#friendReqPic {
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

h3 {
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.list-group-item {
    background-color: whitesmoke !important;
    border-color: whitesmoke !important;
}

.contacts h4 {
    text-align: start;
    font-weight: bold;
    padding: 0px;
    padding-bottom: 2px;
    margin: 0px;
}

#postContainer {
    width: 80%;
    height: 5%;
    align-self: center;
    margin-top: 10px;
    padding-bottom: 10px;
    padding: 15px;
}

#postContent {
    border-color: #f8f9fa;
    height: 5%;
}

#PostsCol {
    align-content: center;
}

#postImage {
    width: 90%;
    margin: 0px;
    margin-top: 0px;
    border-radius: 0px;
}

#postUserName {
    font-weight: bold;
}

#upperName {
    padding-top: 3% !important;
}

#upperTime {
    padding-top: 0px !important;
    margin-top: 0px;
}

#postText {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.reactionBtn {
    font-weight: bold;
    font-size: medium;
    background-color: white;
}

#editBtn {
    background-color: whitesmoke;
    margin-top: 10px;
    font-size: larger;
}
.list-group-item {
    list-style: none;
}