body {
    background-color: whitesmoke
}

#appName {
    padding: 5px;
    color: blue;
    font-weight: bold;
    font-size: 80px;
}

* {
    font-family: inherit;
}

hr {
    margin-left: 10% !important;
    margin-right: 10% !important;
}

.error {
    font-weight: lighter;
    color: red;
    padding-bottom: 2px;
    text-align: start;
}

body.dark-mode * {
    background-color: black !important;
    color: white;
}
body.dark-mode ::placeholder {
    color: white;
}
body.dark-mode .card {
    border-color: white;
}