body{
    background-color: whitesmoke
}
#appName {
    padding: 5px;
    color: blue;
    font-weight: bold;
    font-size: 80px;
}
*{
    font-family: inherit;
}
hr{
    margin-left: 10px !important;
    margin-right: 10px !important;
}